/* Variables */

:root {
    --darkblue: #0C1725;
    --blue-text: #182e49;
    --beige: #fffced;
    --blue: #034c8c;
    --blue-medium: #007be7;
    --blue-light: #9bcffd;
    --green: #14a68c;
    --green-medium: #21e9c5;
    --green-light: #95ffec;
    --ochre: #fbd629;
    --ochre-medium: #ffe154;
    --ochre-light: #fff176;
}

*
{
    color: var(--blue-text);
}
