/* Section admin */

/* Date et heure */

#datetime {
    display: flex;
    flex-flow: row-reverse;
    margin: 16px 0;
    width: 100%;
}

#date-hour {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 3px solid var(--ochre);
    border-radius: 10px;
    margin: 0 24px;
    width: 50%;
}

#date,
#hour {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 0;
    width: 50%;
}

#hour {
    border-left: 3px solid var(--blue-text);
}

#date svg,
#hour svg {
    margin: 0;
}

/* Nouveautés */

#news-dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.news-info {
    border: 3px solid var(--ochre);
    border-radius: 10px;
    margin: 16px 0;
    text-align: justify;
    width: 90%;
}

.card-news {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 8px;
}

.card-news h3 {
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.card-news span {
    font-size: 2rem;
    color: var(--blue-text);
}

/* Tableaux */

.content-section {
    width: 100%;
}

.card-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ochre);
    border-radius: 10px;
    height: 86px;
    width: 100%;
}

.table-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
}