.bmcard {
	box-shadow: 1px 1px 6px 0 var(--blue-light);
	background-color: var(--blue-text);
	margin-bottom: 32px;
}

.bmcard_head {
	padding: 16px;
	display: flex;
	align-items: center;
	gap: 8px;
	box-shadow: 0px 2px 0px 0px var(--darkblue);
}

.bmcard_profile_pic {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.bmcard_txt {
	padding: 15px 13px 8px;
}

.bmcard_txt a {
  text-decoration: underline;
  color: var(--beige);
}

.bmcard_img {
	width: 100%;
	height: 100vw;
	max-height: 500px;
	object-fit: cover;
	cursor: pointer;
}

.bmcard_foot {
	padding: 15px;
	display: flex;
	align-items: center;
	gap: 4px;
}

#load-button {
	margin: 20px auto;
	display: block;
	padding: 10px 20px;
	background-color: var(--blue-text);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--darkblue); /* Fallback color */
  background-color: rgba(24, 46, 73,0.8); /* Black w/ opacity */
	place-items: center;
}


/* The Close Button */
#modal-close-btn {
	position: absolute;
  top: 15px;
  right: 35px;
  color: var(--beige);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#modal-close-btn:hover,
#modal-close-btn:focus {
  color: var(--ochre);;
  text-decoration: none;
  cursor: pointer;
}

#big-img {
	width: auto;
	height: auto;
	max-width: 100vw;
}

@media screen and (min-width: 520px) {
	.bmcard {
	width: 500px;
	border-radius: 10px;
	}
}


@media screen and (min-width: 850px) {
	.bmcard {
	margin-bottom: 48px;
	}

	.bmcard_profile_pic {
	width: 40px;
	height: 40px;
	}
}