.acrsasd {
    width: 300px;
    border-radius: 10px;
    background-color: var(--blue-text);
    flex-grow: 0;
}


.acrsasd_head {
    padding: 20px 0;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
}

.acrsasd_card_container {
    padding: 20px 15px;
    /* not sure which is best  */
    /* background-color: var(--darkgreen); */
    border-radius: 0 0 10px 10px;
}

.acrsasd_card {
    background-color: var(--darkblue);
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 4px 0 var(--beige);
}

.acrsasd_card_head {
    padding: 11px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 2px 0px 0px var(--blue-text);
}

.acrsasd_card_body {
    padding: 16px;
}

.acrsasd_card_body .acrsasd_projet {
    color: var(--ochre);
    margin-bottom: 8px;
}

.acrsasd_card_body .acrsasd_date {
    color: var(--blue-light);
    margin-top: 8px;
    width: 100%;
    text-align: right;
    font-size: 0.8em;
}

.acrscom,
.acrsproj {
    display: none;
}

@media screen and (min-width: 830px) {
    .acrscom {
        display: block;
        box-shadow: 1px 1px 6px 0 var(--blue-light);
    }
}

@media screen and (min-width: 1200px) {
    .acrsproj {
        display: block;
        order: 3;
        box-shadow: 1px 1px 6px 0 var(--blue-light);
    }
}