/* @import url(reset.css);
@import url(variables.css);
@import url(header.css);
@import url(footer_cta.css);
@import url(footer.css);
@import url(svg.css);
@import url(admin.css);
@import url(hero.css);
@import url(landing/nouveau.css);
@import url(landing/actualites.css);
@import url(landing/landing_tierslieux.css);
@import url(historique/historique_historicards.css);
@import url(historique/historique_engagements.css);
@import url(historique/historique_documents.css);
@import url(rs/rsmain.css); */


/* Fonts - police */

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

/* Généralités - Titres et paragraphes */

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
}

.tcenter
{
    text-align: center;
}

h1 {
    font-size: 12px;
    line-height: 160%;
    font-weight: 400;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%; 
}

h5 {
    font-weight: bold;
    font-size: 12px;
    line-height: auto;
}

/* h6 est noté h7 sur figma */
h6 {
    font-weight: 500;
    font-size: 10px;
    line-height: auto;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

// utilitarian classes

.pointer
{
    cursor: pointer;
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dblock {
    display: block;
}

.column
{
    flex-direction: column;
}

.align_end
{
    justify-content: flex-end;
}

.align_start
{
    justify-content: flex-start;
}

.upcase {
    text-transform: uppercase;
}

.cbeige {
    color: var(--beige);
}

.cbluetxt {
    color: var(--blue-text)!important;
}

.fillbeige {
    fill: var(--beige);
}

.fillbluetxt {
    fill: var(--blue-text);
}

.horiz_btn_w_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.yel_btn_white_border {
    border: 4px solid var(--beige);
    background: linear-gradient(180deg, #FFF176 0%, var(--ochre) 100%);
}

.cbluetxt {
    color: var(--blue-text);
}


.button_yellow
{
    width: 180px;
    background-color: var(--ochre);
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 6px 12px 5px 40px;
    border-radius: 50px;
}

.button_yellow p
{
    font-size: 16px;
    font-weight: bold;
}

.long_edging_container {
    display: none;
    margin-bottom: 10px;
}

.w90 {
    width: 90%;
    max-width: 800px;
}

.w92 {
    width: 92px;
}

.w100 {
    width: 100%;
}

.main_content {
    width: 90%;
    margin: auto;
}

.main_content h2 {
    text-transform: uppercase;
}

.picicon {
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 850px) {

    h1 {
        font-size: 20px;
        line-height: 150%;
    }

    h2 {
        font-size: 32px;
        line-height: 100%;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 20px;
        line-height: 140%;
    }

    p {
        font-size: 16px;
    }

    .long_edging_container {
        margin-top: 15px;
        display: block;
    }
    
    .picicon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .main_content {
        width: 80%;
    }
}