@import url(rsheader.css);
@import url(rsform.css);
@import url(landing_bjrmrc.css);
@import url(landing_bmcard.css);
@import url(landing_acrsasd.css);
@import url(rscreerprojet.css);
@import url(rsupdateprofile.css);
@import url(rsnotifications.css);
@import url(rsprojets.css);
@import url(rsreseau.css);
@import url(rsprofil.css);
@import url(rspageprojet.css);

.rscontent {
    background-color: var(--darkblue);
    width: 100%;
    padding-top: 16px;
    min-height: 100vh;
}

.rscontent :is(p, h3, h5) {
    color: var(--beige);
}


@media screen and (min-width: 520px) {
    .accueilrs {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3vw;
    }
    .acrsmiddle {
        margin: 0 auto;
    }
}

@media screen and (min-width: 830px) {
    .acrsmiddle {
        flex-grow: 0;
        margin: 0;
    }
}

