.rsprofil .rscontent {
  position: relative;
  padding-top: 0;
}

.rs_user_banner {
  display: block;
  width: 100%;
  max-width: 800px;
  height: 25vw;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 0 0 16px 16px;
  border-bottom: solid 2px var(--blue-light);
  object-fit: cover;
}

.rs_user_profile_pic {
  width: 20vw;
  max-width: 128px;
  height: 20vw;
  max-height: 128px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: min(calc(15vw), 136px);
  left: max(calc(50% - 64px),calc(50% - 10vw));
  border: solid 2px var(--blue-light);
}

.rsprofil .rscontent h1 {
  color: var(--beige);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: min(70px, 12vw);
}

.update_profile_btn {
  display: flex;
  padding: 10px 24px 8px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #182E49;
  box-shadow: 1px 1px 6px 0px var(--green);
  border-radius: 5px;
  width: 256px;
  margin: 16px auto 32px;
}

.update_profile_btn p {
  font-weight: bold;
}

.activity_card {
  background-color: var(--blue-text);
  border-radius: 5px;
  width: 256px;
  margin: auto;
  padding: 24px 16px;
  box-shadow: 1px 1px 6px 0px var(--blue-medium);
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.activity_card_item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.activity_card_item_icon {
  width: 24px;
  height: 24px;
}

.update_icon {
  width: 20px;
  height: 20px;
}

.rsprofil .maincontent .acrsmiddle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rsprofil .maincontent .acrsmiddle .bmcard {
  margin-bottom: 32px;
}





@media screen and (min-width: 580px) {
  .rsprofil .rscontent h1 {
    font-size: 26px;
  }
}


@media screen and (min-width: 850px) {
  .rsprofil .rscontent h1 {
    font-size: 32px;
  }

  .rsprofil .maincontent .acrsmiddle .bmcard {
    margin-bottom: 48px;
  }

  .mainrow-container {
    display: flex;
  }

  .activity_card_container {

  }
}