.rsprojets h2 {
  color: var(--beige);
  text-align: center;
  margin-bottom: 24px;
}

.rsprojets h3 {
  text-align: center;
  margin: 16px 0;
}

.rs_card {
  position: relative;
  box-shadow: 1px 1px 8px 0px var(--ochre);
  background-color: var(--blue-text);
  border-radius: 10px;
  width: 300px;
  margin-bottom: 32px;
}

.rs_card:hover {
  background-color: var(--blue-mediumdark);
}

.rs_card p {
  margin: 16px;
  text-align: center;
}

.rsprojets .rscontent {
  padding: 24px;
}

.rscards_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.rs_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  max-width: 800px;
}

#project-list-centerer {
  display: grid;
  place-items: center;
}

#project-category {
  margin-top: 16px;
  border-radius: 5px;
  min-width: 256px;
  text-align: center;
  padding: 4px
}

.rsprojets-container {
  border-radius: 0 32px 32px 32px;
  user-select: none;
  cursor: pointer;
  width: 100%;
}

.rsprojets-container:hover {
  box-shadow: 0 0 8px 0 var(--beige);
}

#project-list-container .project-header,
#project-list-container .project_banner {
  border-radius: 0 32px 0 0;
}