#plusloin {
    background-color: var(--blue-text);
    padding: 50px;
    margin : auto;
}

#plusloin h2 {
    color: var(--beige);
    text-align: center;
    margin-bottom: 20px;
}

#plusloin h5 {
    color: var(--beige);
}

.reseaux-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explorer-container h5,
.reseaux-container h5 {
    margin: 20px 0;
}

.reseaux-container a img {
    max-width: 150px;
    height: auto;
    border-radius: 15px;
}

.explorer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-row img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    object-fit: fill;
    border-radius: 15px;
}

.logo-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    align-items: center;
}


@media screen and (min-width:350px) {
    .logo-row {
        grid-template-columns: repeat(2, minmax(50px, 1fr));
    }
}

@media screen and (min-width:880px) {
    .reseaux-container {
        max-width: 750px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    
    .reseaux-container h5 {
        margin: 0 20px;
    }
    
    .logo-row {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}

@media screen and (min-width:1200px) {

    .reseaux-container {
        max-width: 1000px;
    }
    .explorer-container {
        max-width: 1000px;
        align-items: center;
        margin: auto;
    }
    .logo-row {
        max-width: 1000px;
        margin: auto;
        grid-template-columns: repeat(8, minmax(100px,1fr));
    }
}
